.form {
    width: 100rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input,
    textarea {
        outline: none;
        border: none;
        border-bottom: 0.1rem solid var(--white);
        background-color: transparent;
        margin: 2rem 0;
        width: 60%;
        color: var(--white);

        &::placeholder {
            color: var(--white);
        }
    }
    
    input:focus {
        border-bottom: 0.1rem solid var(--cyan);
        
    }

    textarea:focus {
        border: 0.1rem solid var(--cyan);
    }

    textarea {
        resize: none;
        height: 15rem;
        padding: 1rem;
        border: 0.1rem solid var(--white);
        border-radius: 1rem;
    }

    button {
        border: none;
        border-radius: 0.6rem;
        border: .2rem solid var(--cyan);
        padding: 1rem 2rem;
        background-color: transparent;
        color: var(--white);
        text-transform: uppercase;
        transition: 0.2s ease-out;
        cursor: pointer;

        &:hover {
            background-color: var(--cyan);
            transition: 0.2s ease-in;
        }
    }
}

@media screen and (max-width:665px) {
    .form {
        width: 130%;
    }

    #section {
        h3 {
            font-size: 100%;
        }
    }
}

@media screen and (max-width:375px) {
    #section {
        h3 {
            font-size: 90%;
        }
    }
}