* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --cyan: #1CB9C8;
  --white: #fff;
  --gray: #f0f0f0;
  --black: #333;
  --paragraphWhite: #666666;
  --paragraphDark: #c0c0c0;
  
  --darkblue: #12141D;

}

.section-limit {
  max-width: 1440px;
  margin: 0 auto;
}