#section {
    width: 100%;
    height: auto;
    padding-bottom: 8rem;
    background-color: var(--gray);
    &dark {
        @extend #section; 
        background-color: var(--darkblue);
        .box_title {
            h3,
            p {
                color: var(--white);
            }
        }
    }
}

.box_title {
    text-align: center;
    margin: 0 auto;

    p {
        font-size: 1.6rem;
        max-width: 70%;
        margin: 0 auto;
        padding-bottom: 5rem;
        color: var(--pWhite);
    }

    h3 {
        font-size: 3.3rem;
        color: var(--black);
        padding: 10rem 3rem 3rem 3rem;
        opacity: 0;

        &::after {
            content: "";
            display: block;
            width: 10rem;
            height: 0.5rem;
            margin: 1rem auto 1rem auto;
            border-bottom: 0.5rem solid var(--cyan);
        }
    }
}

.box_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
    text-align: left;
}


@import './observer';



@media screen and (max-width:768px) {
    .box_title {
        p {
            width: 60rem;
        }
    }
}

@media screen and (max-width:375px) {
    .box_title {
        p {
            width: 70%;
        }

        h3 {
            font-size: 3rem;
        }
    }
}