#section {
    height: 90vh;
    width: 100%;
    background-image: url('/assets/bannerEscuro.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.box_img {
    width: 50%;
    height: 100%;
    background-image: url('/assets/bannerguy.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1rem 3rem;
    z-index: 5;
}

.box_title {
    width: 50%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    opacity: 0;
    animation-name: show;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;

}

.title {
    h2 {
        font-size: 3rem;

        span {
            color: var(--cyan)
        }
    }

    p {
        max-width: 50rem;
        font-size: 4rem;
        font-weight: bold;

        &:last-child {
            margin-top: 0.9rem;
            font-weight: 400;
            font-size: 2rem;
        }

        span {
            background-color: var(--cyan);
        }
    }
}

@media (max-width:876px) {


    .box_img {
        display: none;
    }

    .box_title {
        width: 100%;
        align-items: flex-start;        
    }
}


@keyframes show {
    from {
        transform: translateX(-20rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);

    }
    
}